body
{
	font : 15px/1.5 Arial;
	padding: 0%;
	margin: 0%;
	background-color: #fff

}
.container
{
	width: 80%;
	margin:auto;
    overflow:hidden;
    padding-bottom: 30px;

}

header
{
	background-color: white;
	color:black;
	padding-top: 10px;
	min-height: 70px;;
	
}
header a
{
	
	color: black;
	text-decoration: none;
	font-size: 14px;;

}
header li 
{

	display: inline;
	padding: 0 10px 0 10px;

}
header #branding {
	float:left;
}
header #branding h1{
    margin:0;
    margin-top: 10px;
    text-transform: uppercase;
   
}
header nav
{
	float: right;
	margin-top:30px;
    padding-right: 40px;
   
}
header nav li a{
    font-size: 18px;
   font-weight: 20em;;
}
#showcase
{
	
	background: url('D:/HelpThePoor/img/1.jfif');
	min-height: 400px;
	text-align: center;
	color: white;
}
#showcase  h1
{
	font-size: 55px;
	margin-top: 100px;
	margin-bottom: 10px;
}
#showcase p
{
	font-size: 20px;
}


#boxes
{
	margin-top: 10px;
}
#boxes .box1
{
	width:100%;
	float:left;
	text-align: center;
    padding: 10px;
	text-align: justify;
	
}
#boxes .box1 h1
{
	text-align: center;
}


.mission 
{
	font-size: 40px;
	text-align: center;
	margin-top :50px;
	letter-spacing: 4px;
 	 word-spacing: 15px;
}
/* #boxes .box3
{
	width:100%;
	float:right;
	text-align: center;
    padding: 10px;
    text-align: justify;
}
#boxes .box3 h1
{
	text-align: center;
} */


#boxes .box
{
	width:23%;
	float:left;
	text-align: center;
	padding: 10px;;
}

#boxes .box p
{
	text-align: justify;
}
#boxes .box h3
{
	color:purple;
}
.box-2
{
	border: 3px dotted #333;
}
footer
{
	padding: 20px;
	margin-top: 10px;
	background-color: black;
	color:white;
	text-align: center;
}